<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CRM_system</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>LoginInterceptor</filter-name>
    <filter-class>com.crm.interceptor.LoginInterceptor</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginInterceptor</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error_404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error_500.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.crm.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PlanServlet</servlet-name>
    <servlet-class>com.crm.servlet.PlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlanServlet</servlet-name>
    <url-pattern>*.pl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>com.crm.servlet.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>*.cs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LinkmanServlet</servlet-name>
    <servlet-class>com.crm.servlet.LinkmanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LinkmanServlet</servlet-name>
    <url-pattern>*.lk</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssortServlet</servlet-name>
    <servlet-class>com.crm.servlet.AssortServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssortServlet</servlet-name>
    <url-pattern>*.as</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.crm.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>*.or</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LostServlet</servlet-name>
    <servlet-class>com.crm.servlet.LostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LostServlet</servlet-name>
    <url-pattern>*.ls</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServiceServlet</servlet-name>
    <servlet-class>com.crm.servlet.ServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceServlet</servlet-name>
    <url-pattern>*.ss</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BasdictServlet</servlet-name>
    <servlet-class>com.crm.servlet.BasdictServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasdictServlet</servlet-name>
    <url-pattern>*.bs</url-pattern>
  </servlet-mapping>
</web-app>